* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #060b1a;
  font-family: Inter, sans-serif;
}

.game {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* СЦЕНА */
.scene-frame {
  position: absolute;
  inset: 20px 360px 20px 20px; /* оставляем место под меню */
  border-radius: 24px;
  overflow: hidden;
  background: #050a18;
  box-shadow:
    0 0 0 2px rgba(255,255,255,0.05),
    0 20px 40px rgba(0,0,0,0.6);
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: absolute;
  bottom: -30px;
  left: 70%;
  width: 15%;
  image-rendering: pixelated;
}


/* HUD */
.hud {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 16px;
}

.hud-box {
  background: rgba(20, 35, 70, 0.9);
  padding: 12px 16px;
  border-radius: 14px;
  color: #fff;
  font-size: 14px;
}

/* ЗАДАЧА */
.task {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 380px;
  background: rgba(10, 20, 45, 0.92);
  padding: 20px;
  border-radius: 18px;
  color: white;
}

/* МЕНЮ */
.menu {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 320px;
  height: calc(100% - 40px);

  background: rgba(12, 22, 45, 0.96);
  border-radius: 24px;
  padding: 20px;
  color: white;

  box-shadow:
    0 0 0 2px rgba(255,255,255,0.05),
    0 20px 40px rgba(0,0,0,0.6);

  transition: transform 0.4s ease, opacity 0.3s ease;
}

.card {
  background: rgba(10, 20, 45, 0.92);
  border-radius: 18px;
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.04),
    0 10px 30px rgba(0,0,0,0.5);
}


.menu.hidden {
  transform: translateX(140%);
  opacity: 0;
}
.level {
  padding: 14px;
  margin-top: 12px;
  border-radius: 14px;
  background: #1c2f5a;
  cursor: pointer;
}

.level.active {
  background: linear-gradient(135deg, #00c9ff, #005eff);
}

.level.locked {
  opacity: 0.4;
  cursor: not-allowed;
}
