* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000; /* Цвет фона вокруг рамки */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/*шторка; ПОТОМ МОЖНО УБРАТЬ ЕЁ */
#curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    
    transition: opacity 1.5s ease; 
    opacity: 1;
}

#curtain.fade-out {
    opacity: 0;
    pointer-events: none;
}

.scene {
    position: relative;

    width: 90vw;   
    height: 90vh;  
    max-width: none; 
    aspect-ratio: auto; 
    
    border-radius: 30px;   /* углы */
    overflow: hidden;     
    
    /* обводка МОЖНО УБРАТЬ */
    box-shadow: 0 0 0 10px #1a1a1a, 0 0 50px rgba(0,0,0,0.8); 

    background-color: #222;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('files/gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
}

.character {
    position: absolute;
    bottom: -20px;    
    right: 15%;       
    
    height: 350px; 
    width: auto;
    
    image-rendering: pixelated;
    z-index: 15;
}

.dialogue-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 800px;
    
    background-color: rgba(20, 23, 28, 0.9);
    backdrop-filter: blur(5px);
    
    color: #fff;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 20;

    text-align: left; 
    padding: 25px;    
}

/*"ЗАДАЧА"*/
.task-title {
    color: #8b949e; /* Серый цвет */
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*текст...*/
.dialogue-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}


/* LEVEL 1 */
.scene.dark-ui { /*перекрывает гиф*/
    background-image: none;
    background-color: #050608; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hud-container {
    position: absolute;
    top: 30px;
    left: 40px;
    right: 40px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    pointer-events: none; /* клики сквозь */
}

.hud-box {
    background: rgba(22, 27, 34, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 12px 25px;
    min-width: 100px;
    text-align: center;
    backdrop-filter: blur(5px);
}


.hud-label {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 2px;
    letter-spacing: 1px;
    color:white
}

.hud-value {
    font-size: 20px;
    font-weight: 700;
    color:white
}

.hud-sub {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.insta-container {
    display: flex;
    align-items: center;
    gap: 80px;
    z-index: 5;
    transform: translateY(-20px); 
}


.visuals {
    position: relative;
    width: 300px;
    height: 450px;
}


.card {
    position: absolute;
    border-radius: 20px;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.card-1 {
    width: 200px; height: 300px;
    background: #ff5f56;
    transform: rotate(-10deg);
    top: 50px; left: -20px;
    opacity: 0.8;
}

.card-2 {
    width: 200px; height: 300px;
    background: #5eeb5b;
    transform: rotate(10deg);
    bottom: 20px; right: -20px;
    opacity: 0.8;
}

.card-main {
    width: 100%; height: 100%;
    background: #222;
    border: 1px solid #333;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-placeholder {
    color: #444;
    font-weight: bold;
    font-size: 24px;
}


.login-wrapper {
    width: 350px;
    position: relative; 
    text-align: center;
    color: #fff;
}

.logo {
    font-family: 'Grand Hotel', cursive; 
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: normal;
}

.login-form input {
    width: 100%;
    background: #121212;
    border: 1px solid #363636;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, sans-serif;
}

.login-form input:focus {
    border-color: #777;
    outline: none;
}

.btn-login {
    width: 100%;
    background: #0095f6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
}

.line {
    flex: 1;
    height: 1px;
    background: #363636;
}

.or { padding: 0 15px; }


.fb-icon {
    display: inline-block;
    width: 16px; height: 16px;
    background: #385185;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
}

.forgot-pass {
    display: block;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 30px;
}

.signup-area {
    font-size: 14px;
}

.signup-area a {
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

#error-msg {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    
    background-color: #ed4956; 
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    
    opacity: 0;           
    visibility: hidden; 
    transform: translateY(10px); 
    transition: all 0.3s ease;   
    z-index: 10;
}

#error-msg.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


#error-msg::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ed4956;
}


.register-wrapper {
    width: 350px;
    text-align: center;
    color: #fff;
    /* Появляется плавно */
    animation: fadeIn 0.5s ease;
}

.reg-title {
    font-size: 18px;
    font-weight: 700;
    color: #8e8e8e;
    margin-bottom: 10px;
}

.reg-subtitle {
    font-size: 12px;
    color: #8e8e8e;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 600;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.mac-spinner { /* mac os spinner */
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='%238e8e8e'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#welcome-screen {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none; /* Скрыт по умолчанию */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    
    opacity: 0;
    transition: opacity 0.4s ease; /* Как ты просил, 0.4 сек */
}

#welcome-screen.show {
    opacity: 1;
}

#welcome-text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    text-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* страница настроек */
#privacy-screen {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #000;
    z-index: 60;
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    
    opacity: 0;
    transition: opacity 0.5s ease;
}

#privacy-screen.active {
    opacity: 1;
}

.privacy-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.privacy-header h2 { font-size: 24px; margin-bottom: 5px; }
.privacy-header p { color: #8e8e8e; font-size: 14px; }


.settings-list {
    width: 90%;             
    max-width: 400px;     
    height: 300px;         
    
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #333; 
    border-radius: 12px;
    
    overflow-y: auto;       
    margin-bottom: 20px;    
    padding: 10px;        
}


/* Элемент списка */
.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #333;
    color: #fff;
    font-size: 14px;
}


.settings-list::-webkit-scrollbar { width: 5px; }
.settings-list::-webkit-scrollbar-thumb { background: #333; border-radius: 5px; }
.settings-list::-webkit-scrollbar-track { background: transparent; }


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #333; 
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #0095f6; 
}

.danger-item input:checked + .slider {
    background-color: #ff5f56; 
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.btn-save-settings {
    margin-top: 20px;
    background: #0095f6;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}