* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000; /* Цвет фона вокруг рамки */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/*шторка; ПОТОМ МОЖНО УБРАТЬ ЕЁ */
#curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    
    transition: opacity 1.5s ease; 
    opacity: 1;
}

#curtain.fade-out {
    opacity: 0;
    pointer-events: none;
}

.scene {
       position: relative;

    width: 90vw;   
    height: 90vh;  
    max-width: none; 
    aspect-ratio: auto; 
    
    border-radius: 30px;   /* углы */
    overflow: hidden;     
    
    /* обводка МОЖНО УБРАТЬ */
    box-shadow: 0 0 0 10px #1a1a1a, 0 0 50px rgba(0,0,0,0.8); 

    background-color: #222;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('files/gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
}

.character {
    position: absolute;
    bottom: -20px;    
    right: 15%;       
    
    height: 350px; 
    width: auto;
    
    image-rendering: pixelated;
    z-index: 15;
}

.dialogue-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 800px;
    
    background-color: rgba(20, 23, 28, 0.9);
    backdrop-filter: blur(5px);
    
    color: #fff;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 20;

    text-align: left; 
    padding: 25px;    
}

/*"ЗАДАЧА"*/
.task-title {
    color: #8b949e; /* Серый цвет */
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*текст...*/
.dialogue-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}